@()(implicit requestInfo: RequestInfo)

<p>
@if(requestInfo.user.isDefined) {
    <div id="fb-root"></div>

    <script>
    <!--
    (
        function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=518735421491721";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk')
    );
    -->
    </script>

    <div class="fb-comments" data-href="http://www.embodiedmaking.com@(requestInfo.uri)" data-width="400" data-num-posts="4" data-colorscheme="light"></div>
} else {
    <div class="muted pagination-centered">&raquo; Want to join the discussion? <a href="/authenticate/facebook">Sign in!</a> &laquo;</div>
}
</p>
