@(section: String, navs: List[Navigable], current: Option[Navigable])

<div class="span3 bs-method-sidebar">
    <ul class="well nav nav-list bs-sidenav">
        <li class="nav-header">Quick navigation</li>
        <li @if(current.isEmpty) { class='active' }><a href="/@section">Overview</a></li>

        <li class="nav-header">Sections</li>

        @navs.map { nav =>
            <li @if(nav.equals(current.getOrElse(null))) { class="active" }><a href="/@section/@nav.id">@nav.title</a></li>
        }
    </ul>
</div>
