@main("Ventures") {
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src='@routes.Assets.at("img/carrousel/method.jpg")' alt="Venure image">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Explore our method</h1>

                    <p class="lead">We approach our design challenges using our Embodied making method.</p>
                    <a class="btn btn-large btn-primary" href="@{routes.Application.method()}">Explore now</a>
                </div>
            </div>
        </div>

        <div class="item">
            <img src='@routes.Assets.at("img/carrousel/ventures.jpg")' alt="Venure image">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Sign up to participate</h1>

                    <p class="lead">We believe in an open approach to our innovations. Like helping us to solve real
                        problems, then why not participate?</p>
                    <a class="btn btn-large btn-primary" href="@{routes.Application.vision()}">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container ventures">

    <div class="page-header">
        <h1>
            <small>Featured ventures</small>
        </h1>
    </div>

    <div class="row">

        <div class="span4 venture">

            <div class="caption">
                <img class="img-polaroid" src='@routes.Assets.at("img/ventures/intouch.jpg")' alt="InTouch image" width="300" height="200">

                <h3>Always in touch</h3>
            </div>
            <blockquote>
                <p>I tried to reach my daughter for ages, not knowing her mobile number has
                    changed!</p>
                <small>Rosannah Pat, mother</small>
            </blockquote>
            <p>InTouch keeps your contacts always up to date by allowing ownership your own
                data.</p>

            <p><a href="@{routes.Application.ventures()}" class="btn">View details &raquo;</a></p>
        </div>

        <div class="span4 venture">

            <div class="caption">
                <img class="img-polaroid" src='@routes.Assets.at("img/ventures/fruent.jpg")' alt="Fruent image" width="300" height="200">

                <h3>We're open!</h3>
            </div>
            <blockquote>
                <p>Running a specialist shop I cannot always be open. Still I need to meet my customers'
                    expectation</p>
                <small>Asenneth Fryderyk, shopkeeper</small>
            </blockquote>
            <p>Fruent shows all information about your physical shop.</p>

            <p><a href="@{routes.Application.ventures()}" class="btn">View details &raquo;</a></p>
        </div>

        <div class="span4 venture">

            <div class="caption">
                <img class="img-polaroid" src='@routes.Assets.at("img/ventures/carmindz.jpg")' alt="Carmindz image" width="300" height="200">
                <h3>Wheeler dealer</h3>
            </div>
            <blockquote>
                <p>I am looking for a decent previously owned car, but my local dealer offers
                    nothing
                    that
                    meets my needs.</p>
                <small>Rajiv Vasanta, student</small>
            </blockquote>
            <p>Carmindz has the best selection of second handed cars in India!</p>

            <p><a href="@{routes.Application.ventures()}" class="btn">View details &raquo;</a></p>
        </div>
    </div>
</div>
}