@()(implicit request : Request[Any])

@import securesocial.core.SecureSocial

@main("Home") {
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src='@routes.Assets.at("img/carousel/method.jpg")' alt="Method">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Agile design</h1>
                    <p class="lead">Embodied making is an action research approach that requires participation, engagement and reflection.</p>
                    <a class="btn btn-large btn-primary" href="@{routes.Application.method()}">Our method &raquo;</a>
                </div>
            </div>
        </div>

        <div class="item">
            <img src='@routes.Assets.at("img/carousel/patterns.png")' alt="Patterns">

            <div class="container">
                <div class="carousel-caption">
                    <h1>A new way of being</h1>
                    <p class="lead">Patterns capture a generic principle of design that can be differentiated in each instance to fit a unique situation.</p>
                    <a class="btn btn-large btn-primary" href="@{routes.Application.patternsOverview()}">Our patterns &raquo;</a>
                </div>
            </div>
        </div>

        <div class="item">
            <img src='@routes.Assets.at("img/carousel/ventures.jpg")' alt="Ventures">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Balanced ideas</h1>
                    <p class="lead">Our ventures capture ways to disrupt current business models with hard needed, profound changes.</p>
                    <a class="btn btn-large btn-primary" href="@{routes.Application.ventures()}">Our ventures &raquo;</a>
                </div>
            </div>
        </div>

        @if(!SecureSocial.currentUser.isDefined) {
            <div class="item">
                <img src='@routes.Assets.at("img/carousel/participate.png")' alt="Participate">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Participate</h1>

                        <p class="lead">By signing in using your Linkedin account</a> you agree to the under which we share our content.</p>
                        <a class="btn btn-large btn-primary" href="/authenticate/linkedin">Sign in &raquo;</a>
                    </div>
                </div>
            </div>
        }

    </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="container ventures">

        <div class="page-header">
            <h1>
                <small>featured ventures</small>
            </h1>
        </div>

        <div class="row">

            <div class="span4 venture">

                <div class="caption">
                    <img class="img-polaroid" src='@routes.Assets.at("img/ventures/intouch.jpg")' alt="InTouch image" width="300" height="200">

                    <h3>Always in touch</h3>
                </div>
                <blockquote>
                    <p>I tried to reach my daughter for ages, not knowing her mobile number has
                        changed!</p>
                    <small>Rosannah Pat, mother</small>
                </blockquote>

                <p><a href="@{routes.Application.ventures()}" class="btn">View details &raquo;</a></p>
            </div>

            <div class="span4 venture">

                <div class="caption">
                    <img class="img-polaroid" src='@routes.Assets.at("img/ventures/fruent.jpg")' alt="Fruent image" width="300" height="200">

                    <h3>We're open!</h3>
                </div>
                <blockquote>
                    <p>Running a specialist shop I cannot always be open. Still I need to meet my customers'
                        expectation</p>
                    <small>Asenneth Fryderyk, shopkeeper</small>
                </blockquote>

                <p><a href="@{routes.Application.venture("fruent")}" class="btn">View details &raquo;</a></p>
            </div>

            <div class="span4 venture">

                <div class="caption">
                    <img class="img-polaroid" src='@routes.Assets.at("img/ventures/carmindz.jpg")' alt="Carmindz image" width="300" height="200">
                    <h3>Wheeler dealer</h3>
                </div>
                <blockquote>
                    <p>I am looking for a decent previously owned car, but my local dealer offers
                        nothing
                        that
                        meets my needs.</p>
                    <small>Rajiv Vasanta, student</small>
                </blockquote>

                <p><a href="@{routes.Application.ventures()}" class="btn">View details &raquo;</a></p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
}