@main("Method") {
<div class="container">
    <h3>
        What is Embodied <i>Making</i>?
    </h3>

    <div class="row">
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <div class="caption">
                        <p>Embodied making is an action research approach that requires participation, engagement and
                            reflection. In action research, the designer works with rather than for people, is engaged
                            as an equal in terms of understanding the design environment, and takes a reflective stance
                            with regard to the work being done.
                        </p>
                    </div>

                    <img src="http://placehold.it/300x200" width="300" height="200" alt="">
                </div>
            </li>
            <li class="span3">
                <p>Embodied making requires that all participants within the design process have a strong understanding
                    of
                    actual situations that occur in the domain of the design. A strong understanding of these
                    situations, and
                    why they occur, provide key inferences for design decisions and architectural criteria.
                </p>
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <div class="caption">
                        <p>Embodied making comes from two inter-related terms. Embodiment is a thought movement that
                            considers the mind to be realized by the entire body and effective thinking to be
                            inseparable from doing. Making emphasizes the active role in designers in engaged change.
                            Embodied making is an alternative to other design methods which separate the design process
                            from the realization process and the realization process from living with the designed
                            results.
                        </p>
                    </div>

                    <img src="http://placehold.it/300x200" width="300" height="200" alt="">
                </div>
            </li>
            <li class="span3">
                <p>In contrast to embodied making, there are a number of other design methods and frameworks that
                    encourage the use of layers to separate concerns. The assumption in this case is that some people do
                    the thinking as that’s what they are good at, and others do the doing as that’s what they are good
                    at. Each layer is used to create specializations.
                </p>
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <div class="caption">
                        <p>Embodied making de-mystifies the design process from belonging to an exclusive few and makes
                            it accessible to everyone engaged in an enterprise. It encourages both doing and thinking to
                            be enterprise-wide activities. It discourages practices where one set of people do the
                            thinking and another set of people do to the doing. It encourages the use of minimal
                            structures and lays emphasis on improvization. "I act, therefore I think".
                        </p>
                    </div>

                    <img src="http://placehold.it/300x200" width="300" height="200" alt="">
                </div>
            </li>
            <li class="span3">
                <p>This belief of separation of thinking and doing is reflective of the belief of separation of mind and
                    body, perhaps most well articulated by “I think therefore I am”, creating organizations which
                    believe that thinking should happen in one place, and the doing in another. Embodied making is
                    designed to treat both thinking and doing integrally.
                </p>
            </li>

        </ul>

    </div>
    }