@(sections: List[MethodSection])(implicit request : Request[Any])

@import tags._

@main("Method") {
    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Method</h1>

            <p class="lead">Introduction to embodied making</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            @sidebar("method", sections, None)

            <div class="span9">
                <section id="overview">
                    <ul class="thumbnails">
                    @sections.map { section =>
                        <li class="span3">
                            <a href='@{"/method/"}@section.id' class="pattern thumbnail">
                                <div class="caption pagination-centered"><strong>@section.title</strong></div>
                                <div class="pagination-centered">@Html({"&diams; " * 3})</div>
                                <div class="caption">@section.summary</div>
                            </a>
                        </li>
                    }
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(equalHeight($(".thumbnail"))); // TODO [AK] does not play nicely with responsive css
    </script>
}