@(patterns: List[Pattern])

@import tags._

@main("Patterns") {

    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Patterns</h1>

            <p class="lead">A Product Lifecycle Management Pattern Language</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span12">
                <section id="overview">
                    <ul class="thumbnails">
                        @patterns.map { pattern =>
                            <li class="span3">
                                <a href='@{"/patterns/"}@pattern.id' class="pattern thumbnail">
                                    <div class="caption pagination-centered"><strong>@pattern.title</strong></div>
                                    <div class="pagination-centered">&diams; &diams; &diams;</div>
                                    <div class="caption">@pattern.summary</div>
                                </a>
                            </li>
                        }
                    </ul>
                </section>
            </div>

            to be continued...
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(equalHeight($(".thumbnail"))); // TODO [AK] does not play nicely with responsive css
</script>
}