@(language: PatternLanguage, pattern: Pattern)(implicit request : Request[Any])

@import tags._

@main(pattern.title) {
    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Patterns</h1>
            <p class="lead">@language.description</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            @sidebar("patterns/" + language.id, language.patterns, Some(pattern))

            <div class="span9">
                <div class="page-header">
                    <h3>@pattern.title</h3>
                    <p>@pattern.summary</p>
                </div>

                <div class="pattern">
                    <p class="pagination-centered">
                        <img src='@routes.Assets.at("images/patterns/" + language.id + "/" + pattern.id + ".jpg")' alt="@pattern.title">
                    </p>
                    <p class="pagination-centered">@Html({"&diams; " * pattern.maturity})</p>
                    <h2><small>Problem</small></h2>
                    <p>@pattern.problem</p>
                    <h2><small>Solution</small></h2>
                    <p>@pattern.solution</p>

                    <h2><small>Pattern language</small></h2>
                    @Html({
                        var patternLanguage: String = pattern.patternLanguage
                        language.patterns.foreach(p => p.synonyms.foreach(s => {
                            patternLanguage = patternLanguage.replaceAll(
                                "(?i)" + java.util.regex.Pattern.quote(s),
                                "<a href='/patterns/" + language.id + "/" + p.id + "'>" + s + "</a>")
                        }))
                        patternLanguage
                    })
                </div>

                <hr/>
                @navigation("patterns/" + language.id, language.patterns, pattern)
            </div>
        </div>
    </div>
}