@(patterns: List[Pattern])(implicit requestInfo: RequestInfo)

@import tags._

@main("Patterns") {

    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Patterns</h1>
            <p class="lead">A Product Lifecycle Management Pattern Language for Telecommunications Operators</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            @sidebar("patterns", patterns, None)

            <div class="span9">
                <section id="overview">
                    <ul class="thumbnails">
                        @patterns.map { pattern =>
                            <li class="span3">
                                <a href='@{"/patterns/"}@pattern.id' class="pattern thumbnail">
                                    <div class="caption pagination-centered"><strong>@pattern.title</strong></div>
                                    <div class="pagination-centered">@Html({"&diams; " * pattern.maturity})</div>
                                    <div class="caption">@pattern.summary</div>
                                </a>
                            </li>
                        }
                    </ul>
                </section>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(equalHeight($(".thumbnail"))); // TODO [AK] does not play nicely with responsive css
</script>
}