@(patterns: List[Pattern], pattern: Pattern)

@import tags._

@main(pattern.title) {

    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Patterns</h1>

            <p class="lead">@pattern.title</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span3 bs-method-sidebar">
                <ul class="nav nav-list bs-method-sidenav">
                @patterns.map { pattern =>
                    <li><a href='@{"/patterns/"}@pattern.id'>@pattern.title</a></li>
                }
                    <li>to be continued...</li>
                </ul>

            </div>

            <div class="span9">
                <section id="overview">
                    <div class="page-header">
                        <h1><small>@pattern.title</small></h1>
                    </div>

                    <div class="span9 pattern">
                        <p class="pagination-centered"><img src='@routes.Assets.at("img/patterns/plm/" + pattern.id + ".jpg")' alt="@pattern.title"></p>
                        <p>@pattern.problem</p>
                        <p>@pattern.solution</p>

                        @Html({
                            var patternLanguage: String = pattern.patternLanguage
                            patterns.foreach(p => p.synonyms.foreach(s => {
                                patternLanguage = patternLanguage.replaceAll(s, "<a href='" + {"/patterns/"} + p.id + "'>" + s + "</a>")
                            }))
                            patternLanguage
                        })
                    </div>
                </section>
            </div>
        </div>
    </div>
}