@()(implicit request : Request[Any])

@main("Privacy") {
    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Privacy</h1>
            <p class="lead">our policy regarding privacy</p>
        </div>
    </header>

    <div class="container">
        <div class="row span12">
            <section>
                <p>Our privacy policy is work in progress. In essence:</p>
                <ul>
                    <li>we respect your privacy and will not try to harm you in any way</li>
                    <li>we use LinkedIn as an OAuth authentication provider to allow signing into this website</li>
                    <li>we use Google Analytics to obtain anonymous performance data for our website</li>
                    <li>we collect no information for targeted advertising</li>
                </ul>
            </section>
        </div>
    </div>
}