@()(implicit request : Request[Any])

@main("Ventures") {
    <header class="jumbotron subhead" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <h1>Ventures</h1>
            <p class="lead">using embodied making to approach our ventures</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <section>
                <div class="featurette span12">
                    <img class="featurette-image pull-right img-circle" src='@routes.Assets.at("img/ventures/ventures.jpg")' width="200" height="200" alt="ventures">

                    <h2 class="featurette-heading">
                        <span class="muted">on </span> ventures <span class="muted">and sharing ideas</span>
                    </h2>
                    <p class="lead">
                        We believe that today's business needs profound change and that the best way to change business is entrepreneurship. We use our design process embodied making to understand profound change to a current business, and from that understanding we create ventures.
                    </p>
                </div>

            </section>
        </div>
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1><small>about ventures</small></h1>
                    <p>capture ways to disrupt current business models with hard needed, profound changes</p>
                </div>


                <p>We want to to realize our ventures in collaboration with entrepreneurs and investors. We believe that profound change happens when disruptive ideas are shared between people who can envision their outcomes, improvise smart ways to reach them, perform them with sharp skill, and reflect on them in action. Therefore we are putting all our ideas, visions, plans, and results online. As a result, we hope to attract people who bring complementary skills to co-create our ideas with us. For example, in our venture <a href="/ventures/fruent">Fruent</a>, we are currently looking for seed capital and a sales partner.</p>

                <p>Feel free to explore and <a href="@routes.Application.contact()">contact us</a> if you think you want to work with us as an entrepreneur or investor and let us now what it will take to bring you on board.</p>

                <p>more info on our ventures coming soon...</p>
            </div>
        </div>
    </div>
}